.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 10px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 15px;
}

.add-img-upload img {
    width: 120px;
}

.add-product-name, .add-product-description {
    width: 50%; /* Adjusted to take full width */
}

.add input[type="text"],
.add input[type="number"],
.add textarea {
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.add input[type="text"]:focus,
.add input[type="number"]:focus,
.add textarea:focus {
    outline: none;
    border-color: black;
}


.add-category-price{
    display: flex;
    gap: 30px;
}

.add-category-price select,, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}

/* Add.css */

.add-category select {
    width: 100%; /* Adjust the width as needed */
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
  
